<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table border="1" style="width:800px; font-family:Arial">
        <tr>
            @*<td colspan="2" style="text-align:center"><h3>Employee Portal</h3></td>*@
            @if (IsSectionDefined("Menu"))
            {
                @RenderSection("Menu", false)
            }
            else
            {
                @Html.ActionLink("Employee List", "Index")
            }
        </tr>
        <tr>
            <td style="width:200px;"> 
                @Html.ActionLink("Employee List", "Index")
            </td>
            <td style="width:600px;"> @RenderBody()</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small">
                <h3>Website Footer</h3> with 2013 
            </td>
        </tr>
    </table>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
